<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="DirectoryToMonitor" value="C:\Dropbox\teqBlogFiles\Photos"/>
        <add key="CopyToDirectory" value="C:\src\teqBlog\teqBlog\images"/>
        <add key="AutoPostSourceDirectory" value="C:\Dropbox\teqBlogFiles\Photos"/>
    </appSettings>
</configuration>