<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="DirectoryToMonitor" value="C:\Dropbox\Camera Uploads"/>
        <add key="CopyToDirectory" value="C:\src\teqBlog\teqBlog\images"/>
        <add key ="StagingDirectory" value="C:\img_staging"/>
    </appSettings>
</configuration>